!*/kubejs/
!*/kubejs/*
!config/
!config/*
!defaultconfigs/
!defaultconfigs/**
!.gitignore
logs/
eula.txt
neoforge-21.1.116-installer.jar
neoforge-21.1.116-installer.jar.log
ops.json
run.bat
run.sh
server-icon.png
server.properties
startserver.bat
startserver.sh
user_jvm_args.txt
usercache.json
usernamecache.json
whitelist.json
libraries/
mods/
world/
packmenu/
local/
journeymap/
command_history.txt
MouseTweaks.cfg
doc_data.json
.curseclient